<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <p>Wybrana data przyjazdu: <span th:text="${date}"></span></p>
    <p>Wybrany pokój: <span th:text="${roomnumber}"></span></p>
    <p>Cena bookingu: <span th:text="${bookingprice}"></span> zł</p>


    <form method="get" action="/book-confirm">
        <input type="text" name="client_name">
        <input type="hidden" name="date" th:value="${date}">
        <input type="hidden" name="serviceid" th:value="${serviceid}">
        <input type="submit" value="Zarezerwuj">
    </form>
</body>
</html>