<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>
</head>
<body>
    <form method="get">
        <div>
            <label for="date">Data przyjazdu: </label>
            <input type="date" id="date" name="date">
        </div>
        <input type="submit" value="Znajdź serwisy">
    </form>


    <div th:if="${date}" class="booking-details">
        <p>Wybrana data: <span th:text="${date}"></span></p>

        <div th:each="room: ${rooms}">
            <a th:href="@{/book-room/{id}(date=${date}, id=${room.id})}">
                Usługa: <span th:text="${room.serviceName}"></span>
            </a>
        </div>

    </div>
</body>
</html>